<html>
<head>

    <link rel="stylesheet" href="stylesheet.css">
    <!-- This is where you put meta information about the page: favicon, title, social media tags etc -->
    <title>Asger Krabbe - Portfolio</title>

</head>

<link rel="icon" type="image/png" href="../pictures/favicon-32x32.png" sizes="32x32" />

<body>

<header id="intro" style="font-size: x-large">
    <h1>Welcome to Asger Krabbe</h1>
</header>

<section id="table">
    <b>My platforms</b><br>
    <a href="https://github.com/asgerkrabbe" target="_blank"> GitHub </a> <br>
    <a href="https://www.linkedin.com/in/asger-krabbe-609635110/" target="_blank">LinkedIn</a>
</section>

<section id="photo1">
<img src="../pictures/ThisIsMe.png" alt="Picture not found :(">
</section>

<section id="photo">

    <img src="../pictures/gamle%20mig.jpg" alt="Picture not found :(">
</section>

<footer>
    <p>Asgerkrabbe@gmail.com</p>
    <p>+45 22 41 09 35</p>
</footer>

</body>
</html>